.grid-container{
	margin-bottom: 10px;
}
.grid-container .search{
	margin-bottom: 15px;
	display: inline-block;
	width: 100%;
}
.grid-container .search form{
	width: auto;	
	position:relative;
	float: left;
}

.grid-container .search .total-info{
	height: 34px;
	line-height: 34px;
	display: inline-block;
	vertical-align: middle;
	float: left;
}

.grid-container .search .input-search{
	width: 250px;
	padding-right: 35px;
	float: left;
	margin-right: 5px;
}
.grid-container .search .btn-search{
	position: absolute;
	top: 0;
	left: 210px;	
	margin-right: 5px;
}
.grid-container .search .btn-clear-search{
	float: left;
	margin-right: 5px;
}

.grid-container .search .btn-advanced-search{
	float: left;
	margin-right: 5px;
}

.grid-container .nav-pagination{
	width: 221px;
	float: right;
}

.grid-container .nav-pagination.pagination-pill{
	width: auto;
}

.grid-container .advanced-search .input-group-addon,
.grid-container .advanced-search .datetimepicker{
	font-size: 12px;
	color: #707478;
}
.grid-container .advanced-search .fields{	
    margin-left: -2.5px;
    margin-bottom: 15px;
}
.grid-container .advanced-search .fields:after{
	content: ' ';
	display: table;
	width: 100%;	
}
.grid-container .advanced-search .field{
	float: left;
	padding-left: 5px;	
	width: 25%;
	height: 60px;
	margin-bottom: 10px;
}

.grid-container .advanced-search .error{
	
}

.grid-container .advanced-search .field.double{	
	width: 50%;
}

.grid-container .advanced-search .field.double .from,
.grid-container .advanced-search .field.double .to{
	width: 50%;	
	float: left;	
	position: relative;
}

.grid-container .advanced-search .field.double .to{
	padding-left: 5px;
}

.grid-container .advanced-search form{
	width: 100%;
}
.grid-container .advanced-search .btn-remove{
	opacity: 0;	
}
.grid-container .advanced-search .searched .btn-remove{
	opacity: 1;
	cursor: pointer;
}
.grid-container .advanced-search form .input-group.money,
.grid-container .advanced-search form .input-group.integer,
.grid-container .advanced-search form .input-group.numeric{
	margin-bottom: 10px;
}

.grid-container .table-responsive{
	margin-bottom: 5px;
}

.grid-container table{
	margin-bottom: 5px;
}

.grid-container table .action{
	float: left;
	margin: 0px 3px 3px 0px;
}

.grid-container table .no-results-found{
	text-align: center;
}

.grid-container table > thead tr th{
    vertical-align: middle;
}

.grid-container table > thead tr th span {
    line-height: 1;
    margin-left: 20px;
    display: block;
}
.grid-container table > thead tr th span {
    line-height: 100%;
    margin-left: 20px;
    min-height: 25px;
    display: flex;
    align-items: center;
}

.grid-container table thead tr th .arrows{
	vertical-align: middle;
	margin-left: 0px;
	padding-top: 3px;
	float: left;
	margin-right: 4px;
}

.grid-container .acoes-em-massa select{
	width: auto;
	margin: 0px 10px 10px 0px;
}
.grid-container table thead tr th .arrow-up:before {
	content: "";
	display: inline-block;
	vertical-align: middle;	
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #333;
	width: auto;
	float: left;
	cursor: pointer;
}

.grid-container table thead tr th .arrow-down:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 0px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #333;
	float: left;
	margin-left: -16px;
	margin-top: 12px;
	cursor: pointer;
}
.grid-container .showing-rows-info{
	margin-bottom: 10px;
}
.grid-container .showing-rows-info select,
.grid-container .bulk-action select{
	border: 1px solid #cecece;
	background-color: #fff;
	border-radius: 4px;
}

.grid-container .btn-export{
	text-decoration: none;	
}

.grid-container .search.simple-search{
	width: auto;
}
.grid-container ul.pagination{
	margin: 0px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: #e2e7eb !important;
    border-color: #d8dcdf !important;
    color: #565555 !important;
}

.grid-container input[type="checkbox"].grid-checkbox,
.grid-container input[type="checkbox"].select-all{
    height: 20px;
    width: 20px;
}

@media only screen and (max-width: 769px) {
    .grid-container .advanced-search .field{
        width: 50%;
    }

    .grid-container .advanced-search .field.double{
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .grid-container .advanced-search .field,
    .grid-container .advanced-search .field.double{
        width: 100%;
    }
}